body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f0f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b3c7e6;
    /* background-color: #deefde; */
    padding: 10px 10px;
    height: 30px;
}

.logo, .theme {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 12px;
}

.logo:hover {
    cursor: pointer;
    background-color:#ccdfec;
}

.logo img {
    width: 2vw;
    height: auto;
    min-width: 60px;
    max-width: 65px;
    padding-left: 10px;
}

.logo-text {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    padding: 0.5vh;
}

.logo-text p {
    font-family: 'Koulen', sans-serif;
    /* font-family: 'News Cycle', sans-serif; */
    font-size: 1.6vw;
    margin: 0;
    line-height: 1;
    color: #737272; 
}

.theme-profile {
    display: flex;
    align-items: center;
}

.theme-text p {
    font-family: 'News Cycle', sans-serif;
    font-size: 1.8vw;
    font-weight: bolder;
    color: #535151;
    /* padding: 1.7vh; */
    /* margin: 0; */
    padding-inline: 1vw;
}

.theme {
    padding: auto;
}
.theme:hover {
    cursor: pointer;
    background-color:#ccdfec;
}

.profile img {
    width: 8vw;
    height: auto;
    /* border-radius: 50%; */
    min-width: 30px;
    max-width: 40px;
    padding-right: 20px;
    padding-left: 30px;
}
.profile #profile-pic:hover {
    cursor: pointer;
}

.current-time {
    font-size: 1.4vw; 
    font-family: 'News Cycle', sans-serif;
    font-weight: bolder;
    color: #5b5a5a; 
}

/* Dropdown menu styles */
.dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 60px; /* Adjust according to the header height */
    right: 20px; /* Adjust according to your design */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.support-window {
    display: none; /* Hidden by default */
    position: fixed;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 1000;
    width: 18%;
    font-size: 1.1vw;
}

.support-content {
    text-align: center;
}

.support-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 100px);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.notes, .search {
    width: 100%;
    margin-bottom: 20px;
}

.notes {
    background-color: white;
    width: 75%;
    align-self: flex-start;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 20vh;
    overflow-y: auto;
}

.notes p {
    color: #646161;
}

.search {
    display: flex;
    align-items: center;
    background-color: #d7d7d7;
    border-radius: 5px;
}

.search input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search button {
    padding: 5px 10px; /* height, width */
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search button img {
    width: 4vw;
    height: auto;
    margin-right: 5px;
    min-width: 20px;
    max-width: 30px;
}

.search button:hover {
    background-color: rgb(233, 233, 233);
}

footer {
    display: flex; /* Add flexbox properties */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 0px;
    background-color: #d6dce7;
    position: fixed;
    width: 100%;
    height: 3.5vh;
    bottom: 0;
    font-size: 14px; /* Responsive font size */
}


/* Media queries to ensure proper sizing */
@media (max-width: 768px) {
    .logo img {
        width: 15vw;
    }
    .logo-text p {
        font-size: 2.5vw;
    }
    .current-time {
        font-size: 2.5vw;
    }
    .theme-text p {
        font-size: 2.5vw;
    }
    .theme img {
        width: 12vw;
    }
    .search button img {
        width: 6vw;
    }
}

@media (min-width: 1200px) {
    .logo img {
        width: 8vw;
    }
    .logo-text p {
        font-size: 1.6vw;
    }
    .current-time {
        font-size: 1.4vw;
    }
    .theme-text p {
        font-size: 1.6vw;
    }
    .theme img {
        width: 6vw;
    }
    .search button img {
        width: 3vw;
    }
}